################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pruebas/.vs
/Pruebas/bin/Debug/net9.0
/Pruebas/obj
Idearia.Pos.WooCommerceTest/.vs/
Idearia.Pos.WooCommerceTest/bin/
Idearia.Pos.WooCommerceTest/obj/Idearia.Pos.WooCommerceTest.csproj.nuget.dgspec.json
Idearia.Pos.WooCommerceTest/obj/
Idearia.Pos.TicketPrinter/obj/
/Idearia.Pos.TicketPrinter/bin/Debug/net9.0
